{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	<section id="blog" class="container">
        <div class="blog">
        	<div class="widget categories">
                <h3>Cuadritos de filtros</h3>
                {% for feto in fetos %}
                	<div class="row">
                    	<div class="col-sm-12">
                        	<div class="single_comments">
                            	<img src="{% static 'images/blog/avatar3.png' %}" alt=""  />
                            	<p>{{ feto.nombre }}</p>
                            	<p> {{ feto.descripcion }} </p>
                            	<div class="entry-meta small muted">
                                	<span>By <a href="{% url 'embriologia:ver' feto.id %}">Ver más</a></span>
                            	</div>
                        	</div>
                    	</div>
                	</div>                     
                {% endfor %}
                <div class="pagination">
                    <div class="divisor"></div>
                    <span class="step-links" ">
                        {% for page in rango %}
                            {% if page == fetos.number %}
                               <span class="current">
                                    {{ page }}
                               </span> 
                            {% else %}
                                <a href="?page={{page}}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                       <div>Página {{fetos.number}} de {{fetos.paginator.num_pages}}</div>
                    </span>
                </div>


			</div>
        </div>
    </section>
{% endblock %}